/*  Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html */
/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html */
/* line 3, ../sass/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* remember to define focus styles! */
 * :focus 
 * 	outline: 0 */
/* line 18, ../sass/_reset.sass */
body {
  background: white;
  line-height: 1; }

/* line 22, ../sass/_reset.sass */
ol, ul {
  list-style: none; }

/* line 25, ../sass/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* line 29, ../sass/_reset.sass */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 33, ../sass/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

/* line 37, ../sass/_reset.sass */
blockquote, q {
  quotes: "" ""; }

/* line 40, ../sass/_reset.sass */
a img {
  border: 0; }

/* line 43, ../sass/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Lightbox ============================================= */
/* ----------------------------------------------------------- */
/* line 6, ../sass/lightbox.sass */
/* line 2, ../sass/_lightbox.scss */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none; }

/* line 15, ../sass/lightbox.sass */
/* line 14, ../sass/_lightbox.scss */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal; }

/* line 24, ../sass/lightbox.sass */
/* line 25, ../sass/_lightbox.scss */
#lightbox img {
  width: auto;
  height: auto; }

/* line 27, ../sass/lightbox.sass */
/* line 30, ../sass/_lightbox.scss */
#lightbox a img {
  border: none; }

/* line 30, ../sass/lightbox.sass */
/* line 35, ../sass/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
/* line 49, ../sass/_lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

/* line 39, ../sass/lightbox.sass */
/* line 56, ../sass/_lightbox.scss */
.lb-container {
  padding: 10px; }

/* line 42, ../sass/lightbox.sass */
/* line 61, ../sass/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

/* line 51, ../sass/lightbox.sass */
/* line 72, ../sass/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

/* line 59, ../sass/lightbox.sass */
/* line 82, ../sass/_lightbox.scss */
.lb-container > .nav {
  left: 0; }

/* line 62, ../sass/lightbox.sass */
/* line 87, ../sass/_lightbox.scss */
.lb-nav a {
  outline: none; }

/* line 65, ../sass/lightbox.sass */
/* line 92, ../sass/_lightbox.scss */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block; }

/* line 72, ../sass/lightbox.sass */
/* line 101, ../sass/_lightbox.scss */
.lb-prev {
  left: 0;
  float: left; }

/* line 76, ../sass/lightbox.sass */
/* line 107, ../sass/_lightbox.scss */
.lb-next {
  right: 0;
  float: right; }

/* line 81, ../sass/lightbox.sass */
/* line 113, ../sass/_lightbox.scss */
.lb-prev:hover {
  background: url(../img/prev.png) left 48% no-repeat; }

/* line 85, ../sass/lightbox.sass */
/* line 118, ../sass/_lightbox.scss */
.lb-next:hover {
  background: url(../img/next.png) right 48% no-repeat; }

/* line 88, ../sass/lightbox.sass */
/* line 123, ../sass/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
/* line 140, ../sass/_lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

/* line 95, ../sass/lightbox.sass */
/* line 147, ../sass/_lightbox.scss */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb; }

/* line 98, ../sass/lightbox.sass */
/* line 152, ../sass/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

/* line 103, ../sass/lightbox.sass */
/* line 159, ../sass/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

/* line 107, ../sass/lightbox.sass */
/* line 165, ../sass/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px; }

/* line 112, ../sass/lightbox.sass */
/* line 172, ../sass/_lightbox.scss */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none; }

/* line 117, ../sass/lightbox.sass */
/* line 179, ../sass/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer; }

/* ============================== */
/* Load Google WebFonts */
/* ============================== */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }

@font-face {
  font-family: "Yanone Kaffeesatz";
  font-style: normal;
  font-weight: 300;
  src: local("Yanone Kaffeesatz Light"), local("YanoneKaffeesatz-Light"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRVMR8FhBa8rkfAKaPBwAU3s.woff) format("woff"); }

@font-face {
  font-family: "Yanone Kaffeesatz";
  font-style: normal;
  font-weight: 700;
  src: local("Yanone Kaffeesatz Bold"), local("YanoneKaffeesatz-Bold"), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff) format("woff"); }

/* ============================== */
/* Options  */
/* ============================== */
/* ============================== */
/* Mixins & Classes */
/* ============================== */
/* line 74, ../sass/style.sass */
#mainContainer #mainHeader, #mainContainer #mainHeader #mHeaderIn, #mainContainer #mainHeader #mHeaderIn section#userInfo, #mainContainer #content aside#navSidebar .navMenu, #mainContainer #content #meio article, #mainContainer #content #meio #comments .commentlist li .comment-body, #mainContainer #content #meio #comments .commentlist li .comment-body .vcard, #mainContainer #content div#rightSideBar aside {
  *zoom: 1; }
/* line 76, ../sass/style.sass */
#mainContainer #mainHeader:before, #mainContainer #mainHeader #mHeaderIn:before, #mainContainer #mainHeader #mHeaderIn section#userInfo:before, #mainContainer #content aside#navSidebar .navMenu:before, #mainContainer #content #meio article:before, #mainContainer #content #meio #comments .commentlist li .comment-body:before, #mainContainer #content #meio #comments .commentlist li .comment-body .vcard:before, #mainContainer #content div#rightSideBar aside:before, #mainContainer #mainHeader:after, #mainContainer #mainHeader #mHeaderIn:after, #mainContainer #mainHeader #mHeaderIn section#userInfo:after, #mainContainer #content aside#navSidebar .navMenu:after, #mainContainer #content #meio article:after, #mainContainer #content #meio #comments .commentlist li .comment-body:after, #mainContainer #content #meio #comments .commentlist li .comment-body .vcard:after, #mainContainer #content div#rightSideBar aside:after {
  content: "";
  display: table; }
/* line 80, ../sass/style.sass */
#mainContainer #mainHeader:after, #mainContainer #mainHeader #mHeaderIn:after, #mainContainer #mainHeader #mHeaderIn section#userInfo:after, #mainContainer #content aside#navSidebar .navMenu:after, #mainContainer #content #meio article:after, #mainContainer #content #meio #comments .commentlist li .comment-body:after, #mainContainer #content #meio #comments .commentlist li .comment-body .vcard:after, #mainContainer #content div#rightSideBar aside:after {
  clear: both; }

/* line 83, ../sass/style.sass */
.hidden {
  visibility: hidden;
  position: absolute;
  z-index: -1; }

/* line 88, ../sass/style.sass */
.date strong {
  background: url("../img/sprite.png?v=1.1") 0 0 no-repeat; }

/* This way when an Anchor has only a image inside, it get image height and
 * remove additional pad on bottom  */
/* line 93, ../sass/style.sass */
.aThumb, #mainContainer #content #meio article .imgAnchor, #mainContainer #content #meio #comments #respond #commentform p.comment-form-comment {
  display: block;
  line-height: 0;
  margin-bottom: 1.46667em; }

/* Leia mais */
/* line 99, ../sass/style.sass */
.leiaMais {
  background-color: #007ed9;
  border-radius: 5px;
  font-size: 15px;
  padding: 0 7px;
  color: white;
  line-height: 1.46667em;
  display: inline-block;
  float: left;
  clear: left;
  height: auto; }

/* line 111, ../sass/style.sass */
hr.dotLine {
  height: 0;
  border: 0;
  border-top: 1px dotted #999999;
  margin: 1.46667em 10px 1.4em; }

/* line 117, ../sass/style.sass */
hr {
  border: 0;
  border-top: 1px dashed #777777;
  margin: 0 0 1.4em; }

/* line 122, ../sass/style.sass */
.button, input[type=submit], #mainContainer #content #meio #comments .commentlist li .comment-body .reply a, #mainContainer #content #meio #comments #respond h3 small a, #mainContainer #content #meio #comments #respond #commentform .form-submit #submit, #mainContainer #content #meio #comments #respond #commentform .form-submit a {
  background-color: #a4cb38;
  padding: 0 0.73334em;
  margin: -0.37em 0;
  font-size: 15px;
  color: white !important;
  border: 0;
  border-radius: 5px;
  height: 2.2em;
  line-height: 2.2em;
  display: inline-block; }
  /* line 133, ../sass/style.sass */
  .button:hover, input[type=submit]:hover, #mainContainer #content #meio #comments .commentlist li .comment-body .reply a:hover, #mainContainer #content #meio #comments #respond h3 small a:hover, #mainContainer #content #meio #comments #respond #commentform .form-submit #submit:hover, #mainContainer #content #meio #comments #respond #commentform .form-submit a:hover {
    background-color: #009647;
    cursor: pointer;
    text-decoration: none; }
  /* line 137, ../sass/style.sass */
  .button:active, input[type=submit]:active, #mainContainer #content #meio #comments .commentlist li .comment-body .reply a:active, #mainContainer #content #meio #comments #respond h3 small a:active, #mainContainer #content #meio #comments #respond #commentform .form-submit #submit:active, #mainContainer #content #meio #comments #respond #commentform .form-submit a:active {
    background-color: #00592a; }

/* line 140, ../sass/style.sass */
input[type=text], input[type=password], textarea {
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  margin: 0.33334em 0;
  font-size: 15px; }

/* line 146, ../sass/style.sass */
#mainContainer #content #meio #comments .commentlist li .comment-body .commentText, #mainContainer #content #meio #comments #respond #commentform {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 4px; }

/* ================================================================== */
/* ------------------------------------------------------------------ */
/* line 154, ../sass/style.sass */
body {
  font: 15px/22px "Open Sans", calibri, sans-serif, "arial";
  background-color: #d8dad5;
  color: #111111; }

/* line 159, ../sass/style.sass */
img {
  max-width: 100%; }

/* ============================== */
/* Text Attributes */
/* ============================== */
/* line 166, ../sass/style.sass */
.blueLink {
  color: #0099ff;
  text-decoration: underline; }

/* line 170, ../sass/style.sass */
.blueLink:hover {
  color: deepskyblue; }

/* line 173, ../sass/style.sass */
p::-moz-selection,
::selection {
  color: #8cc63f;
  background: #222222; }

/* line 178, ../sass/style.sass */
p {
  margin-bottom: 1.46667em;
  line-height: 1.46667em; }

/* line 182, ../sass/style.sass */
h1, h2, h3 {
  font-family: "Yanone Kaffeesatz", calibri, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06em; }
  /* line 187, ../sass/style.sass */
  h1 a, h2 a, h3 a {
    color: inherit;
    display: inline-block;
    text-decoration: none; }
    /* line 191, ../sass/style.sass */
    h1 a:visited, h2 a:visited, h3 a:visited {
      color: #660099; }
    /* line 193, ../sass/style.sass */
    h1 a:hover, h2 a:hover, h3 a:hover {
      color: black;
      background-color: #eef5da; }
    /* line 196, ../sass/style.sass */
    h1 a:active, h2 a:active, h3 a:active {
      background-color: transparent; }

/* line 199, ../sass/style.sass */
h1 {
  font-size: 3em;
  line-height: 0.97778em;
  margin-bottom: 0.48889em; }

/* line 204, ../sass/style.sass */
h2 {
  font-size: 2.7em;
  line-height: 1.08642em;
  margin-bottom: 0.54321em; }
  /* line 208, ../sass/style.sass */
  h2 .orangeDot {
    padding-left: 20px;
    background: url("../images/icon-sprite-1.png") -35px -585px no-repeat; }
  /* line 211, ../sass/style.sass */
  h2 .blueDot {
    padding-left: 20px;
    background: url("../images/icon-sprite-1.png") -35px -665px no-repeat; }

/* line 215, ../sass/style.sass */
h3 {
  font-size: 2.2em;
  line-height: 1.3335em;
  margin-bottom: 0.66667em;
  letter-spacing: 0.06em; }

/* line 221, ../sass/style.sass */
h4 {
  font-family: "Yanone Kaffeesatz", calibri, sans-serif;
  font-size: 1.8em;
  line-height: 1.62963em;
  margin-bottom: 0.81482em;
  text-transform: uppercase; }

/* =================================== */
/* form elements */
/* =================================== */
/* line 233, ../sass/style.sass */
form label {
  display: block;
  line-height: 1.46667em; }

/* line 237, ../sass/style.sass */
input, select {
  border-radius: 5px;
  background-color: white; }

/* line 241, ../sass/style.sass */
select {
  padding-left: 10px; }

/* line 244, ../sass/style.sass */
input.formButton {
  width: auto !important;
  min-width: 0;
  border-radius: 5px;
  background-color: #aab2a6;
  color: white;
  margin: 0;
  /* transition */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in; }
  /* line 258, ../sass/style.sass */
  input.formButton:hover {
    background-color: #93e55c;
    text-shadow: 0 0 10px black;
    cursor: pointer;
    /* transition */
    -webkit-transition: all 0.1s ease;
    -moz-transition: background-color 0.05s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in; }

/* line 269, ../sass/style.sass */
input[type=text], input[type=password] {
  color: #111111;
  height: 2.13334em;
  line-height: 2.13334em;
  padding: 0 0.73334em; }

/* line 279, ../sass/style.sass */
textarea {
  padding: 0.73334em; }

/* line 285, ../sass/style.sass */
#btnConfig {
  background-position: 20px -90px; }

/* line 288, ../sass/style.sass */
#btnSair {
  background-position: -8px -10px; }

/* form login header ----------------- */
/* line 294, ../sass/style.sass */
#hFormLogin {
  line-height: 80px;
  float: right; }

/* line 298, ../sass/style.sass */
#hFormLogin label {
  padding-right: 10px; }

/* line 301, ../sass/style.sass */
#hFormLogin li {
  position: relative;
  float: left;
  margin-right: 20px; }

/* line 306, ../sass/style.sass */
#hFormLogin input {
  width: 100px; }

/* line 309, ../sass/style.sass */
#hFormLogin #selUnidades {
  width: 200px; }

/* line 312, ../sass/style.sass */
#hFormLogin .loader {
  margin: 0 0 -3px 4px; }

/* line 315, ../sass/style.sass */
#hFormLogin .popup {
  position: absolute;
  bottom: -30px;
  right: 0; }

/* ================================== */
/* Date */
/* ================================== */
/* line 324, ../sass/style.sass */
.date {
  font-size: 0.8em;
  color: #666666;
  height: 1.834em;
  display: inline-block;
  margin: -3px 0 3px;
  padding-bottom: 1.834em; }
  /* line 332, ../sass/style.sass */
  .date a {
    display: inline-block; }
  /* line 334, ../sass/style.sass */
  .lt-ie8 .date {
    float: left; }
  /* line 336, ../sass/style.sass */
  .date strong {
    color: black;
    margin-right: 1px;
    text-align: center;
    font-size: 0.9em;
    line-height: 31px;
    width: 25px;
    display: inline-block;
    background-position: -0px -0px;
    height: 26px; }

/* MAIN STYLE ============================ */
/* line 351, ../sass/style.sass */
#mainContainer {
  padding-bottom: 100px;
  /* ================================== */
  /* Main Header */
  /* ================================== */
  /* ================================== */
  /* Content */
  /* ================================== */
  /* ================================== */
  /* footer */
  /* ================================== */ }
  /* line 356, ../sass/style.sass */
  #mainContainer #mainHeader {
    height: 88px;
    width: 100%;
    background-color: #191919;
    color: white; }
    /* line 362, ../sass/style.sass */
    #mainContainer #mainHeader #mHeaderIn {
      width: 980px;
      margin: 0 auto; }
      /* line 366, ../sass/style.sass */
      #mainContainer #mainHeader #mHeaderIn #logoMicrocamp {
        float: left;
        height: 35px;
        margin: 22px 0 0 20px; }
      /* line 370, ../sass/style.sass */
      #mainContainer #mainHeader #mHeaderIn section#userInfo {
        float: left;
        margin-left: 40px; }
        /* line 374, ../sass/style.sass */
        #mainContainer #mainHeader #mHeaderIn section#userInfo #userPhoto {
          float: left;
          display: block;
          line-height: 0; }
        /* line 378, ../sass/style.sass */
        #mainContainer #mainHeader #mHeaderIn section#userInfo table#uInfo {
          float: left;
          border-top: 5px solid #8cc63f;
          width: 360px;
          font: 13px/18px "bold";
          color: white; }
          /* line 384, ../sass/style.sass */
          #mainContainer #mainHeader #mHeaderIn section#userInfo table#uInfo td {
            position: relative;
            top: 10px;
            padding-left: 20px;
            height: 18px; }
      /* line 389, ../sass/style.sass */
      #mainContainer #mainHeader #mHeaderIn ul#topConfig {
        float: right;
        margin-right: 20px; }
        /* line 392, ../sass/style.sass */
        #mainContainer #mainHeader #mHeaderIn ul#topConfig li {
          float: left; }
        /* line 394, ../sass/style.sass */
        #mainContainer #mainHeader #mHeaderIn ul#topConfig a {
          float: left;
          text-align: center;
          color: white;
          font: 13px/110px "bold";
          height: 80px;
          padding: 0 20px;
          text-decoration: none;
          border: 1px solid #242424;
          border-width: 0 1px;
          margin-right: -1px;
          opacity: 0.5;
          /* transition */
          -webkit-transition: all 0.2s ease-in;
          -moz-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
          /* line 412, ../sass/style.sass */
          #mainContainer #mainHeader #mHeaderIn ul#topConfig a:hover {
            opacity: 1;
            background-color: #242424;
            /* transition */
            -webkit-transition: all 0.1s ease-in;
            -moz-transition: all 0.1s ease-in;
            -o-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in; }
          /* line 421, ../sass/style.sass */
          #mainContainer #mainHeader #mHeaderIn ul#topConfig a:active {
            background-color: #111111;
            /* transition */
            -webkit-transition: all 0;
            -moz-transition: all 0;
            -o-transition: all 0;
            transition: all 0; }
        /* line 429, ../sass/style.sass */
        #mainContainer #mainHeader #mHeaderIn ul#topConfig #btnConfig, #mainContainer #mainHeader #mHeaderIn ul#topConfig #btnSair {
          background-image: url("../images/icon-sprite-1.png"); }
  /* line 434, ../sass/style.sass */
  #mainContainer #content {
    width: 980px;
    padding-top: 66px;
    margin: 0 auto;
    /* ================================== */
    /* Nav Sidebar */
    /* ================================== */
    /* ================================== */
    /* Meio */
    /* ================================== */
    /* ================================== */
    /* Right Sidebar */
    /* ================================== */ }
    /* line 441, ../sass/style.sass */
    #mainContainer #content aside#navSidebar {
      margin-left: 20px;
      float: left; }
      /* line 446, ../sass/style.sass */
      #mainContainer #content aside#navSidebar .navMenu li {
        background-color: #f2f2f2; }
        /* line 448, ../sass/style.sass */
        #mainContainer #content aside#navSidebar .navMenu li a {
          display: block;
          margin-bottom: 1px;
          height: 43px;
          font: 15px/44px "bolder";
          color: gray;
          text-decoration: none;
          border-left: 5px solid #f2f2f2;
          background: transparent url("../images/icon-sprite-1.png") 140px -179px no-repeat;
          /* transition */
          -webkit-transition: color 0.2s ease-in, border-left-color 0.2s ease-in, background 0.2s ease-in;
          -moz-transition: color 0.2s ease-in, border-left-color 0.2s ease-in, background 0.2s ease-in;
          -o-transition: color 0.2s ease-in, border-left-color 0.2s ease-in, background 0.2s ease-in;
          transition: color 0.2s ease-in, border-left-color 0.2s ease-in, background 0.2s ease-in; }
          /* line 464, ../sass/style.sass */
          #mainContainer #content aside#navSidebar .navMenu li a:hover {
            color: #333333;
            border-left-color: #8cc63f;
            background-position: 117px -179px;
            -webkit-transition: border-left-color 0.1s ease, color 0.1s ease, background-color 0.2s ease-in, background-position 0.2s ease-out;
            -moz-transition: border-left-color 0.1s ease, color 0.1s ease, background-color 0.2s ease-in, background-position 0.2s ease-out;
            -o-transition: border-left-color 0.1s ease, color 0.1s ease, background-color 0.2s ease-in, background-position 0.2s ease-out;
            transition: border-left-color 0.1s ease, color 0.1s ease, background-color 0.2s ease-in, background-position 0.2s ease-out; }
          /* line 473, ../sass/style.sass */
          #mainContainer #content aside#navSidebar .navMenu li a:active {
            background-color: white;
            background-position: 124px -179px;
            -webkit-transition: border-left-color 0.1s ease, background-color 0s ease-in, background-position 0.1s ease;
            -moz-transition: border-left-color 0.1s ease, background-color 0s ease-in, background-position 0.1s ease;
            -o-transition: border-left-color 0.1s ease, background-color 0s ease-in, background-position 0.1s ease;
            transition: border-left-color 0.1s ease, background-color 0s ease-in, background-position 0.1s ease; }
      /* line 481, ../sass/style.sass */
      #mainContainer #content aside#navSidebar #mainNav li {
        background-image: url("../images/icon-sprite-1.png");
        background-position: 18px 0;
        background-repeat: no-repeat; }
      /* line 485, ../sass/style.sass */
      #mainContainer #content aside#navSidebar #mainNav a {
        padding-left: 10px;
        width: 165px; }
      /* line 488, ../sass/style.sass */
      #mainContainer #content aside#navSidebar #subNav {
        float: right; }
        /* line 490, ../sass/style.sass */
        #mainContainer #content aside#navSidebar #subNav a {
          padding-left: 10px;
          width: 145px; }
          /* line 493, ../sass/style.sass */
          #mainContainer #content aside#navSidebar #subNav a:hover {
            background-position: 97px -179px; }
          /* line 495, ../sass/style.sass */
          #mainContainer #content aside#navSidebar #subNav a:active {
            background-position: 104px -179px; }
    /* line 500, ../sass/style.sass */
    #mainContainer #content #meio {
      float: left;
      width: 480px;
      padding: 1.46667em 20px;
      background-color: white;
      /* ------ comments -------- */ }
      /* line 509, ../sass/style.sass */
      #mainContainer #content #meio article .excerpt-info {
        margin-bottom: 1.46667em;
        width: 100%; }
        /* line 512, ../sass/style.sass */
        #mainContainer #content #meio article .excerpt-info .date {
          padding-bottom: 0; }
        /* line 514, ../sass/style.sass */
        #mainContainer #content #meio article .excerpt-info .cat {
          margin-left: 1.46667em; }
      /* line 516, ../sass/style.sass */
      #mainContainer #content #meio article .excerpt-thumb {
        display: block;
        line-height: 0;
        margin-bottom: 1.46667em; }
      /* line 521, ../sass/style.sass */
      #mainContainer #content #meio hr {
        margin-top: 1.46667em; }
      /* line 524, ../sass/style.sass */
      #mainContainer #content #meio #comments {
        /* ------ comment list -------- */
        /* ----- respond form --------- */ }
        /* line 526, ../sass/style.sass */
        #mainContainer #content #meio #comments .commentlist {
          list-style: none; }
          /* line 528, ../sass/style.sass */
          #mainContainer #content #meio #comments .commentlist li {
            margin-bottom: 0 !important; }
            /* line 530, ../sass/style.sass */
            #mainContainer #content #meio #comments .commentlist li .children {
              margin-left: 2.93333em;
              list-style: none; }
            /* line 535, ../sass/style.sass */
            .lt-ie8 #mainContainer #content #meio #comments .commentlist li .comment-body {
              list-style-position: outside; }
            /* line 537, ../sass/style.sass */
            #mainContainer #content #meio #comments .commentlist li .comment-body .vcard {
              margin-bottom: 1.46667em; }
              /* line 540, ../sass/style.sass */
              #mainContainer #content #meio #comments .commentlist li .comment-body .vcard .avatar, #mainContainer #content #meio #comments .commentlist li .comment-body .vcard cite {
                float: left; }
              /* line 542, ../sass/style.sass */
              #mainContainer #content #meio #comments .commentlist li .comment-body .vcard cite {
                margin-left: 0.36667em;
                font: 2em/1.46667em "Yanone Kaffeesatz", calibri, sans-serif;
                display: inline-block; }
              /* line 546, ../sass/style.sass */
              #mainContainer #content #meio #comments .commentlist li .comment-body .vcard .date {
                height: 3.66667em;
                line-height: 3.66667em;
                margin: 5px 0 -25px 0.91667em;
                padding-bottom: 0; }
                /* line 551, ../sass/style.sass */
                #mainContainer #content #meio #comments .commentlist li .comment-body .vcard .date strong {
                  color: inherit; }
            /* line 553, ../sass/style.sass */
            #mainContainer #content #meio #comments .commentlist li .comment-body .commentText {
              padding: 1.46667em;
              margin: -1px 0 1.4em;
              clear: both; }
            /* line 559, ../sass/style.sass */
            #mainContainer #content #meio #comments .commentlist li .comment-body .reply a {
              float: right;
              margin: -0.36667em 0; }
        /* line 564, ../sass/style.sass */
        #mainContainer #content #meio #comments #respond {
          margin-bottom: 1.46667em; }
          /* line 567, ../sass/style.sass */
          #mainContainer #content #meio #comments #respond h3 small {
            font-size: inherit; }
          /* line 571, ../sass/style.sass */
          #mainContainer #content #meio #comments #respond #commentform {
            margin: -1px 0;
            padding: 1.46667em; }
            /* line 577, ../sass/style.sass */
            #mainContainer #content #meio #comments #respond #commentform label {
              display: block; }
            /* line 579, ../sass/style.sass */
            #mainContainer #content #meio #comments #respond #commentform textarea {
              height: 142px; }
            /* line 581, ../sass/style.sass */
            #mainContainer #content #meio #comments #respond #commentform code {
              font-size: 0.8em;
              line-height: 1.83334em;
              display: inline-block; }
    /* line 592, ../sass/style.sass */
    #mainContainer #content div#rightSideBar {
      width: 220px;
      padding: 0 20px;
      float: right; }
      /* line 596, ../sass/style.sass */
      #mainContainer #content div#rightSideBar p {
        font-size: 0.85em;
        line-height: 1.726em;
        margin-bottom: 1.726em; }
      /* line 600, ../sass/style.sass */
      #mainContainer #content div#rightSideBar h4 {
        font-family: "Open Sans", calibri, sans-serif;
        font-size: 0.8em;
        line-height: 1.83334em;
        margin-bottom: 0; }
      /* line 609, ../sass/style.sass */
      #mainContainer #content div#rightSideBar ul#bannersList li {
        background-color: black; }
      /* line 611, ../sass/style.sass */
      #mainContainer #content div#rightSideBar ul#bannersList a {
        display: block;
        border: 1px solid #bbbbbb;
        overflow: hidden;
        width: 220px;
        height: 60px;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        /* line 624, ../sass/style.sass */
        #mainContainer #content div#rightSideBar ul#bannersList a:hover {
          opacity: 0.8;
          -webkit-transition: all 0.1s ease;
          -moz-transition: all 0.1s ease;
          -o-transition: all 0.1s ease;
          transition: all 0.1s ease; }
        /* line 632, ../sass/style.sass */
        #mainContainer #content div#rightSideBar ul#bannersList a:active {
          opacity: 1;
          border-color: white;
          -webkit-transition: all 0 ease;
          -moz-transition: all 0 ease;
          -o-transition: all 0 ease;
          transition: all 0 ease; }
      /* line 640, ../sass/style.sass */
      #mainContainer #content div#rightSideBar #fbLikeBox {
        background-color: white;
        border-top: 4px solid #315c99; }
  /* line 646, ../sass/style.sass */
  #mainContainer footer#main {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #111111;
    color: white; }
    /* line 654, ../sass/style.sass */
    #mainContainer footer#main #fooIn {
      width: 940px;
      margin: 0 auto; }
      /* line 657, ../sass/style.sass */
      #mainContainer footer#main #fooIn p {
        line-height: 70px;
        margin: 0; }
      /* line 660, ../sass/style.sass */
      #mainContainer footer#main #fooIn ul#fooIcons {
        margin-left: 40px;
        float: left; }
        /* line 663, ../sass/style.sass */
        #mainContainer footer#main #fooIn ul#fooIcons li {
          float: left;
          /* icon footer */ }
          /* line 665, ../sass/style.sass */
          #mainContainer footer#main #fooIn ul#fooIcons li a {
            background-image: url("../images/icon-sprite-2.png");
            display: block;
            text-indent: -9999px;
            width: 80px;
            height: 80px;
            border: 1px solid #060606;
            border-width: 0 1px;
            margin-right: -1px;
            /* transition */
            -webkit-transition: background-color 0.2s ease-in;
            -moz-transition: background-color 0.2s ease-in;
            -o-transition: background-color 0.2s ease-in;
            transition: background-color 0.2s ease-in; }
            /* line 681, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a:hover {
              background-color: #191919;
              /* transition */
              -webkit-transition: background-color 0.1s ease-in;
              -moz-transition: background-color 0.1s ease-in;
              -o-transition: background-color 0.1s ease-in;
              transition: background-color 0.1s ease-in; }
            /* line 690, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a:active {
              background-color: #060606;
              /* transition */
              -webkit-transition: background-color 0;
              -moz-transition: background-color 0;
              -o-transition: background-color 0;
              transition: background-color 0; }
          /* line 699, ../sass/style.sass */
          #mainContainer footer#main #fooIn ul#fooIcons li a#icoMcsp {
            background-position: 0 -88px; }
            /* line 701, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a#icoMcsp:hover {
              background-position: 0 -9px; }
          /* line 703, ../sass/style.sass */
          #mainContainer footer#main #fooIn ul#fooIcons li a#icoWeb {
            background-position: 0 -248px; }
            /* line 705, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a#icoWeb:hover {
              background-position: 0 -168px; }
          /* line 707, ../sass/style.sass */
          #mainContainer footer#main #fooIn ul#fooIcons li a#icoInf {
            background-position: 0 -408px; }
            /* line 709, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a#icoInf:hover {
              background-position: 0 -328px; }
          /* line 711, ../sass/style.sass */
          #mainContainer footer#main #fooIn ul#fooIcons li a#icoTI {
            background-position: 0 -568px; }
            /* line 713, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a#icoTI:hover {
              background-position: 0 -488px; }
          /* line 715, ../sass/style.sass */
          #mainContainer footer#main #fooIn ul#fooIcons li a#icoABC {
            background-position: 0 -728px; }
            /* line 717, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a#icoABC:hover {
              background-position: 0 -648px; }
          /* line 719, ../sass/style.sass */
          #mainContainer footer#main #fooIn ul#fooIcons li a#icoHard {
            background-position: 0 -888px; }
            /* line 721, ../sass/style.sass */
            #mainContainer footer#main #fooIn ul#fooIcons li a#icoHard:hover {
              background-position: 0 -808px; }

/* popup */
/* line 737, ../sass/style.sass */
.popup {
  display: none;
  background-color: white;
  color: #111111;
  padding: 10px;
  line-height: 1;
  border-radius: 5px; }

/* line 744, ../sass/style.sass */
.popup div {
  white-space: nowrap;
  position: relative; }

/* line 747, ../sass/style.sass */
.popup .arrowTop {
  width: 18px;
  height: 8px;
  position: absolute;
  top: -18px;
  background: url("../images/icon-sprite-1.png") -30px -756px no-repeat;
  right: 0; }

/* CLEAR FIX ---------------- */
/*
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 765, ../sass/style.sass */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

/* line 771, ../sass/style.sass */
.cf:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 779, ../sass/style.sass */
.cf {
  *zoom: 1; }
